In [1]:
import pandas as pd
import mysql.connector

C:\Users\salut\AppData\Local\Temp\ipykernel_33428\3231519513.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

criação da tabela no sql para os dados 2010 a 2019

In [2]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2010_2019.xlsx"

In [3]:
df = pd.read_excel(file_path, header=8)

In [4]:
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)

In [5]:
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}

In [6]:
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [7]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2010_2019'
columns = df.columns

In [8]:
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()

In [9]:
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2011 a 2020

In [10]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2011_2020.xlsx"

In [11]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)

In [12]:
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}

In [13]:
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [14]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2011_2020'
columns = df.columns

In [15]:
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()

In [16]:
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2012 a 2021

In [17]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2012_2021.xlsx"

In [18]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [19]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2012_2021'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2013 a 2021

In [20]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2013_2021.xlsx"

In [21]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [22]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2013_2021'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2014 a 2021

In [23]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2014_2021.xlsx"

In [24]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [25]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2014_2021'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2015 a 2021

In [26]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2015_2021.xlsx"

In [27]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [28]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2015_2021'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2016 a 2022

In [31]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2016_2022.xlsx"

In [32]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [33]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2016_2022'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2017 a 2022

In [34]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2017_2022.xlsx"

In [35]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [36]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2017_2022'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()

criação da tabela no sql para 2018 a 2022

In [37]:
file_path = "C:/Users/salut/Desktop/MBA_CD/artigo_final/indicadores_fluxo_ES_todos_os_anos/indicadores_trajetoria_educacao_superior_2018_2022.xlsx"

In [38]:
df = pd.read_excel(file_path, header=8)
# Excluir linhas que contêm qualquer NaN
df.dropna(inplace=True)
# Substitua pelos seus dados de conexão
config = {
    'user': 'root',
    'password': 'Rio1de2janeiro!',
    'host': 'localhost',
    'database': 'indicadores_es'
}
# Conecta ao banco de dados
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

In [39]:
# Gerar a query de criação de tabela
table_name = 'indicadores_2018_2022'
columns = df.columns
create_table_query = f"CREATE TABLE {table_name} ("
for col in columns:
    create_table_query += f"{col} TEXT,"
create_table_query = create_table_query.rstrip(',') + ");"

cursor.execute(create_table_query)
conn.commit()
# Gerar a query de inserção
insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))})"

# Inserir os dados
for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Confirmar as inserções
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()